@font-face {
  font-family: "TanPearl";
  src: url("../assets/TAN-PEARL.otf");
}
@font-face {
  font-family: "Baskerville";
  src: url("../assets/LibreBaskerville-Regular.ttf");
}
@font-face {
  font-family: "Baskerville-Bold";
  src: url("../assets/LibreBaskerville-Bold.ttf");
}
/* -------------------------------------------------------------------------- */
/*                                  RESET CSS                                 */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  line-height: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  --main-font: basic-sans, sans-serif;
  touch-action: manipulation;
}

html {
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
  transition: transform 300ms ease-in-out;
}

button {
  background: unset;
  border: none;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */
body {
  background-color: #1D1D1D;
  color: #ffffff;
  font-family: var(--main-font);
  max-width: 1000px;
  margin: 0 auto;
}

.h2 {
  text-align: center;
  font-family: "TanPearl";
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 0px 0px 5px #000000;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  border: white solid 2px;
  background-color: rgba(255, 255, 255, 0);
  padding: 15px 32px;
  border-radius: 0px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out, transform 300ms ease-in-out;
}
.btn:hover {
  transform: scale(0.95);
  transform: rotate(-2deg);
  background-color: white;
  color: #1D1D1D;
}

a:hover {
  transform: scale(0.95) rotate(-2deg);
}

.visually-hidden { /* for all element that need to be present in dom but invisible for accessibility */
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* -------------------------------------------------------------------------- */
/*                               Header (Thoma)                               */
/* -------------------------------------------------------------------------- */
.header-main-container {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
  animation: onLoadUp 3000ms ease-out;
  margin-bottom: 60px;
}

.header-container {
  background-color: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(5000px);
  transform: translateZ(0px);
}

.h1 {
  animation: floating1 6000ms infinite ease-in-out;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 190px;
  z-index: 3;
  transform-style: preserve-3d;
  transform: perspective(5000px);
  transform: translateZ(0px);
}
.h1 p {
  font-family: "TanPearl";
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 0px 0px 5px #000000;
}

.header-image {
  animation: floating2 6000ms infinite ease-in-out;
  position: absolute;
  z-index: 1;
  max-width: 350px;
  transform-style: preserve-3d;
  transform: perspective(5000px);
  transform: translateZ(-60px);
}

.mouse {
  background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  position: absolute;
  opacity: 1;
  transition: opacity 1500ms ease-in-out;
  bottom: 50px;
  width: 20px;
  height: 38px;
  border-radius: 100px;
  background-size: 100% 200%;
  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}
.mouse[data-state=hidden] {
  opacity: 0;
}
.mouse:before, .mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.mouse:before {
  width: 16px;
  height: 34px;
  background-color: #1D1D1D;
  border-radius: 100px;
}
.mouse:after {
  background-color: #ffffff;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  animation: trackBallSlide 5s linear infinite;
}

/* -------------------------------------------------------------------------- */
/*                               Navbar (Kevin)                               */
/* -------------------------------------------------------------------------- */
.navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #1d1d1d;
  opacity: 0;
  width: 100%;
  justify-content: center;
  padding: 20px 0;
  transition: opacity 300ms ease-out;
}
.navigation ul {
  width: 100%;
  display: none;
  justify-content: center;
}
.navigation ul li {
  font-family: var(--main-font);
  margin: 0 10px;
  font-size: 2vw;
  color: white;
}
.navigation .billetterie-btn-container .billetterie-btn {
  padding: 10px 20px;
  background-color: none;
  border: white solid 2px;
  color: white;
  cursor: pointer;
  transition: color 300ms ease-out, background-color 300ms ease-out;
}
.navigation .billetterie-btn-container .billetterie-btn:hover {
  color: #1D1D1D;
  background-color: white;
}

.navigation[data-state=visible] {
  transition: opacity 300ms ease-out;
  opacity: 1;
}

/* -------------------------------- A propos -------------------------------- */
.about {
  margin: 60px 0;
  padding: 30px;
  text-align: justify;
}

.intro {
  margin: 30PX 0;
  line-height: 1.6;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  margin-bottom: 120px;
}

.lieu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.tarif {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0 60px 0;
  line-height: 2;
}

.p {
  margin: 5px 0;
}

/* -------------------------------------------------------------------------- */
/*                              Lineup (Corentin)                             */
/* -------------------------------------------------------------------------- */
.lineup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4em;
  margin-top: 60px;
  margin-bottom: 120px;
}
.lineup .lineup-adress {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.lineup .lineup-block {
  padding-inline: 20px;
  background-image: url(../img/timeline.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 10em);
}
.lineup .lineup-block .lineup-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.lineup .lineup-block .artist-1 {
  grid-area: 1/1/2/2;
}
.lineup .lineup-block .artist-2 {
  grid-area: 2/2/3/3;
}
.lineup .lineup-block .artist-3 {
  grid-area: 3/1/4/2;
}
.lineup .lineup-block .artist-4 {
  grid-area: 4/2/5/3;
}
.lineup .lineup-block .artist-5 {
  grid-area: 5/1/6/2;
}
.lineup .lineup-block .artist-1, .lineup .lineup-block .artist-3, .lineup .lineup-block .artist-5 {
  text-align: end;
  padding-right: 20%;
}
.lineup .lineup-block .artist-2, .lineup .lineup-block .artist-4 {
  text-align: start;
  padding-left: 20%;
}

.footer-box {
  margin: 20px 0;
  width: 100%;
}

footer h2 {
  margin-bottom: 20px;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto 60px auto;
  padding: 20px;
}

.partners a {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.partners a img {
  max-height: 200px;
  aspect-ratio: 1/1;
}

#place {
  width: 75%;
}

.media {
  display: flex;
  flex-wrap: nowrap;
}

.media i {
  font-size: 25px;
  margin: 0 12px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.social p {
  color: aliceblue;
  font-size: 12px;
  margin-right: 10px;
}

.social img {
  width: 30px;
  margin-left: 20px;
}

/* -------------------------------------------------------------------------- */
/*                          Artist Caroussel (maxime)                         */
/* -------------------------------------------------------------------------- */
.artists-caroussel {
  height: 90vh;
  height: 90dvh;
  display: flex;
  flex-direction: column;
  margin: 60px;
  margin-bottom: 120px;
}
.artists-caroussel .hidden {
  display: none;
}
.artists-caroussel .content.active {
  display: grid;
  grid-template-areas: "title" "img" "social";
  align-items: center;
  justify-items: center;
  gap: 1vh;
  height: 100%;
}
.artists-caroussel .content.active .image {
  grid-area: img;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.artists-caroussel .content.active .image img {
  transform: rotate(-8deg);
  transition: transform 200ms;
  max-height: 60vh;
  filter: drop-shadow(5px 5px 3px #000000);
}
.artists-caroussel .content.active .image img:hover {
  transform: rotate(-10deg) scale(1.05);
}
.artists-caroussel .content.active h2 {
  text-align: center;
  grid-area: title;
}
.artists-caroussel .content.active p {
  max-width: 28em;
  display: none;
  text-align: center;
  text-align: justify;
  line-height: 1.6;
  grid-area: text;
}
.artists-caroussel .content.active .social-nav {
  grid-area: social;
  align-self: start;
  font-size: 1.3rem;
}
.artists-caroussel .nav {
  font-size: 3vh;
  text-align: center;
  padding-bottom: 1em;
}
.artists-caroussel .nav button {
  transition: transform 200ms;
}
.artists-caroussel .nav button:hover {
  transform: scale(1.2);
}
.artists-caroussel .nav > * {
  margin: 1em;
}
.artists-caroussel .nav .auto > * {
  display: none;
}
.artists-caroussel .nav .auto[data-state=play] > #pause {
  display: inline;
}
.artists-caroussel .nav .auto[data-state=pause] > #play {
  display: inline;
}

/* -------------------------- Self credit (maxime) -------------------------- */
.credits {
  width: 97%;
  max-width: 1000px;
  margin: 60px auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
}
.credits .names {
  display: flex;
  flex: 1;
  gap: 3em;
  width: -moz-max-content;
  width: max-content;
  margin: 1em 0 0 0;
  font-weight: 400;
}
.credits .names > * {
  margin: 0.5em 0;
  height: 1em;
}

/* -------------------------------------------------------------------------- */
/*                                   DESKTOP                                  */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .h1 {
    gap: 250px;
  }
  .h1 p {
    font-size: 4rem;
    text-shadow: 0px 0px 10px #000000;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: translateZ(20px);
  }
  .header-image {
    max-width: 500px;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transform: translateZ(0px);
  }
  .about {
    margin: 60px 60px;
    padding: 60px;
    text-align: justify;
  }
  /* ------------------------ Artist Caroussel (maxime) ----------------------- */
  .artists-caroussel {
    height: 85vh;
  }
  .artists-caroussel .content.active {
    grid-template-columns: 5fr 4fr;
    grid-template-areas: "img title" "img text" "img social";
    gap: 5%;
  }
  .artists-caroussel .content.active p {
    display: block;
  }
  .artists-caroussel .content.active .social-nav {
    margin-top: -5%;
  }
  .artists-caroussel .content.active img {
    max-height: 80vh;
  }
  /* Navbar (KEVIN) */
  .navigation {
    padding: 30px 0;
  }
  .navigation ul {
    display: flex;
  }
  .navigation ul li {
    font-size: 1rem;
    margin: 0 30px;
    -webkit-text-decoration: underline 0.12em rgba(255, 255, 255, 0);
            text-decoration: underline 0.12em rgba(255, 255, 255, 0);
    transition: text-decoration-color 200ms ease-in-out, opacity 300ms ease-in-out, text-underline-offset 300ms ease-in-out;
    opacity: 1;
    text-underline-offset: -0.05rem;
  }
  .navigation ul li:hover {
    opacity: 1;
    text-underline-offset: 0.1rem;
    text-decoration-color: rgba(255, 255, 255, 0.75);
  }
  .navigation ul:hover li:not(:hover) {
    opacity: 0.5;
  }
  .navigation .billetterie-btn-container {
    margin-right: 2vw;
    position: absolute;
    right: 0;
    top: 0;
    transform: translatey(50%);
  }
  .navigation .billetterie-btn-container .billetterie-btn {
    float: right;
    transition: transform 200ms ease-in;
  }
  .navigation .billetterie-btn-container .billetterie-btn:hover {
    transform: rotate(-2deg) scale(0.95);
  }
  .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .social p {
    font-size: 1rem;
  }
  .partners img {
    width: 75%;
  }
  #place {
    width: 60%;
  }
  .media i {
    font-size: 3rem;
    margin: 25px;
  }
  .social img {
    width: 50px;
  }
  .lineup-block {
    width: 40%;
  }
  .footer-box {
    padding: 0 40px 0 60px;
  }
}
@keyframes floating1 {
  0% {
    transform: translate(-2px, -4px);
  }
  50% {
    transform: translate(2px, 8px);
  }
  100% {
    transform: translate(-2px, -4px);
  }
}
@keyframes floating2 {
  0% {
    transform: translate(-1px, -2px);
  }
  50% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(-1px, -2px);
  }
}
@keyframes onLoadUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #4e5559;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #4e5559;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #4e5559;
  }
  90%, 100% {
    background-color: #ffffff;
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(2.5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-10px);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(2.5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-10px);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(2.5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-10px);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }
}
@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}/*# sourceMappingURL=style.css.map */